body {
    font-family: 'Times New Roman', serif;
    line-height: 1.8;
    color: #2c3e50;
    background: #f4f4f4;
}

/*FLAG*/
.flag {
    height: 50px;
    display: flex;
}
.flag-green {
    flex: 1;
    background: #006847;
}
.flag-white {
    flex: 1;
    background: #FFFFFF;
    background-image: url('images/flag-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.flag-red {
    flex: 1;
    background: #CE1126;
}
