body {
  
}

/*FLAG*/
.flag {
    height: 50px;
    display: flex;
}
.flag-green {
    flex: 1;
    background: #006847;
}
.flag-white {
    flex: 1;
    background: #FFFFFF;
    background-image: url('images/flag-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.flag-red {
    flex: 1;
    background: #CE1126;
}
