nav {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(0,0,128);
  border-bottom: 1px solid rgba(255,0,0);
}
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

.nav-links li a {
  position: relative;
  font-size: 1.05rem;
  font-width: 500;
  text-decoration: none;
  colour: white;
}
