.body {
  background-image: url ("travel.jpg");
  beackground-size: cover;
  backgorund-attachment: fixed;
  background-position: center center;
}
/* BUTTON STARTS */
.button {  
  color: white;
  border: 6px solid rgb(255, 223, 0);
  border-radius: 5px;
  padding: 28px 46px;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #FFFFE0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 60px #FFFFE0;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
/*BUTTON FINISHES*/ 

*{
  margin:0;
  padding:0
  box-sizing: boarder-box;
  font-family: 'Poppins', sans serif;
  {

  body{
    height: 100vh;
    display: flex;
    align-items: center ; 
    justify-content: center;
    background:#f2f2f2;
    
.swiper{
  width:950px;
}
  }
section.card.image{ 
 hieght: 140px;
  width: 140px;
  border-radius: 50%
  padding: 3px
  background : #7d2ae8;
}

section.card.image img{ 
 hieght: 100%;
  width: 100%;
  object-fit: cover;
  border radius: 50%;
  border:3px solid #fff

}


.card{
  poition:relative;
  background:#f2f2f2;
  border-radius:20px;
  margin:20px 0;
  width:280px;
}
    

.card::before{
  content:"";
  position:absolute;
  height:40%
  width:100%
    background:#7d2ae8;
  border-radius: 20px 20px 0 0;
}
  
.card.card-content{
  padding:30px;
  display:flex;
  flex-direction:column;
  align-items:center ;
  padding:30px;
  position:relative;
  z-index:100;
}

.card.name-profession{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:10px;
  color:#333;
}

.name-profession.name{
  font-size:20px;
  font-weight:600;
}
  
.name-profession.profession{
  font-size:15px;
  font-weight:500;
}
  

/*stars*/

<style>
  .card.rating {
    display:flex;
    align-items:center;
    margin-top:18px;
      color: #7d2ae8;
    font-size: 40px;
  }
</style>

/*stars close*/ 


/*Second button */
.card.btns {  
  color: #7d2ae8;
  border: 1px solid rgb(255, 223, 0);
  padding: 9px 0px;
  display:flex;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #FFFFE0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 60px #FFFFE0;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
  border-radius:20px;
}
/*BUTTON FINISHES*/ 


  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>
