.body {
  background-image: url ("travel.jpg");
  beackground-size: cover;
  backgorund-attachment: fixed;
  background-position: center center;
}
/* BUTTON STARTS */
.button {  
  color: white;
  border: 6px solid rgb(255, 223, 0);
  border-radius: 5px;
  padding: 28px 46px;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #FFFFE0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 60px #FFFFE0;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
/*BUTTON FINISHES*/ 


/*images sizing starts*/
  .images {
    width: 70%;
    max-width: 400px;
    height: 70%;
    border-radius: 3px;  /* rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
/*images sizing ends*/


/* Card container sizing*/
.card {
  width: 300px;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 50px;
}

/* Image styling */
.card img {
  width: 100%;
  transform-origin: center; /* rotates around the center */
  display: block;
}

/* Text content inside the card */
.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 5px 0;
  font-size: 18px;
}

.card-content p {
  color: gray;
  font-size: 14px;
}

/*Second button */
/* BUTTON STARTS */
.btns {  
  color: white;
  border: 1px solid rgb(255, 223, 0);
  padding: 9px 0px;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #FFFFE0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 60px #FFFFE0;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
/*BUTTON FINISHES*/ 
