.body {
  background-image: url ("travel.jpg");
  beackground-size: cover;
  backgorund-attachment: fixed;
  background-position: center center;
}
/* BUTTON STARTS */
.button {  
  color: white;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #008CBA;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 50px #008CBA;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
/*BUTTON FINISHES*/ 
