.body {
  background-image: url ("travel.jpg");
  beackground-size: cover;
  backgorund-attachment: fixed;
  background-position: center center;
}
/* BUTTON STARTS */
.button {  
  color: white;
  border: 2px solid rgb(250, 250, 190);
  border-radius: 1px;
  padding: 28px 46px;
  display: inline-block;
  font-family: "Times New Roman", Monaco, monospace;
  font-size: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #008CBA;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 50px #008CBA;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
/*BUTTON FINISHES*/ 


/*images sizing starts*/
  .images {
    width: 40%;
    max-width: 40px;
    height: 20%;
    border-radius: 3px;  /* rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
/*images sizing ends*/

